:root {
    --primary: #B9D9EB;
    --secondary:#012169;
    --tertiary:aliceblue;
    --fortiary:#B0C4DE;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--primary);
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}

.answers a:hover{
    color: var(--tertiary);
}
.part1 {
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 25px;
    margin: auto;
    margin-top: 150px;
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-50% -50%);
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-btn{
    position: relative;
    top: 400px;
    left: 140%;
    transform: translate(-50% -50%);
    z-index: 1;
}
.start-btn:hover{
    opacity: 95%;
}
.start button{
    font-size: 25px;
    font-weight: bold;
    color: var(--tertiary);
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    cursor: pointer;
}
.highscore, .restart {
    color: var(--tertiary);
    border: solid var(--tertiary);
    font-weight: bold;
    padding: 1px 8px;
    margin-left: 12px;
    background-color: transparent;
}
.restart{
    background-color: var(--tertiary);
    color: var(--secondary);
    border: 2.7px solid var(--tertiary);
}
.restart:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}
.highscore:hover{
    color: var(--fortiary);
    border-color: var(--fortiary);

}
.buttons {
    transform: translate(-50% -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.title {
    height: 60px;
    width: inherit;
    border-bottom: 1 px solid var(--primary);
    font-size: 40px;
    font-weight: bold;
    
}
.inst ol li {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 15px;
    line-height: 2.5;
}
.inst ol li span{
    font-weight: bolder;
    color: yellow;
}
h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 30px;
}
.part2{
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 25px;
    position: absolute;
    width: max-content;
}
.part2 header{
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer{
    text-align: center;
    font-weight: bold;
}
.ans-check{
    display: none;
}
.q1, .q2, .q3, .q4, .q5{
    font-size: 30px;
    
}
.answers {
    font-size: 20px;
}
.answers div{
    border: #B0C4DE solid 3px;
    width: max-content;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}