:root {
    --primary: #B9D9EB;
    --secondary:#012169;
    --tertiary:aliceblue;
    --fortiary:#B0C4DE;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--primary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.part1, .part2, .part3, .part4{
    margin-top: 20px;
}
/*FIRST PART */
.part1 {
     transition: .5s ease;
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 25px;
    transform: translate(-50% -50%);
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
/*.part1.inactiveInfo{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 0;
}*/
.highscore,.restart, #restart {
    color: var(--tertiary);
    border: solid var(--tertiary);
    font-weight: bold;
    padding: 1px 8px;
    margin-left: 12px;
    background-color: transparent;
}
.restart, #restart{
    background-color: var(--tertiary);
    color: var(--secondary);
    border: 2.7px solid var(--tertiary);
}
.restart:hover{
    background-color: var(--fortiary);
    border-color: var(--fortiary);
}
#restart:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}
.highscore:hover{
    color: var(--fortiary);
    border-color: var(--fortiary);

}
.buttons {
    transform: translate(-50% -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.title {
    height: 60px;
    width: inherit;
    border-bottom: 1 px solid var(--primary);
    font-size: 40px;
    font-weight: bold;
}
.inst ol li {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 15px;
    line-height: 2.5;
}
.inst ol li span{
    font-weight: bolder;
    color: yellow;
}
h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 30px;
}

/*PART 2 */
.part2{
    transition: .5s ease;
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 25px;
    width: 20;
    height: 40;
    text-align: center;
  /*  opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*.part2.activeInfo{ 
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}*/
.part2 header{
    height: 70px;
    padding: 0 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 30px;
    background:var(--tertiary);
    color: var(--secondary);
    border: solid var(--tertiary) 1px;
    border-radius:5px ;
    padding: 2px 7px;
    user-select: none;
}
.timer .time-secs{
font-size: 17px;
font-weight: bold;
text-align: center;
}
.timer .time-text{
    font-size: 15;
    font-weight: 400;
    text-align: center;
}

footer{
   height: 90px;
}

.q1, .q2, .q3, .q4, .q5{
    font-size: 35px;
    margin-bottom: 15px;
    user-select: none;
    
}
.q2 , .q3, .q4, .q5{
    display: none;
}
#answer-q2, #answer-q3, #answer-q4, #answer-q5 {
    display: none;
}
.answers {
    font-size: 27px;
    font-weight: 600;
    user-select: none;
}
.answers div{
    border: var(--fortiary) solid 3px;
    border-radius: 25px;
    color: var(--tertiary);
    width: max-content;
    padding: 10px 25px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.answers div:hover{
background-color: var(--tertiary);
border-color: transparent;
color: var(--secondary);
}
.ans-check{
    color: #B0C4DE;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ans-check .wrong{
    display: none;
}
.answersCorrect{
    background-color: lightgreen;
    border-color: lightgreen;
    color: #012169;
}
.answersWrong{
    background-color: lightcoral;
    border-color: lightcoral;
    color: #012169;
}
/*PART 3 */
.part3{
     /*transition: .5s ease;*/
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 50px 50px;
    width: 20;
    height: 40;
    text-align: center;
   
}
.initials{
    background-color: var(--tertiary);
    padding: 15px 50px;
    color: var(--secondary);
    overflow: hidden;
    text-align: center;
}
.userHighScore {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.submit-btn {
    color: var(--tertiary);
    border: solid var(--tertiary);
    font-weight: bold;
    padding: 1px 8px;
    margin-left: 12px;
    margin-top: 20px;
    background-color: transparent;
}
.submit-btn:hover{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
}
.average-score {
    display: none;
}
.top-score{
   
}
/* PART 4*/
.part4{
     /*transition: .5s ease;*/
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 50px 50px;
    width: 20;
    height: 40;
    text-align: center;
   /* opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);*/
}
.part4.activeInfo{
    z-index: 4;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quit{
    color: var(--tertiary);
    border: solid var(--tertiary);
    font-weight: bold;
    padding: 1px 8px;
    margin-left: 12px;
    background-color: transparent;
}
.quit:hover{
    color: var(--fortiary);
    border-color: var(--fortiary);
}
#p4btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.userHighscores .userHighScore{
    font-size: 15px;
}